# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# environment variables
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo
next-env.d.ts

# coverage
coverage/

# editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# caches
.cache/
.eslintcache
.stylelintcache

# package managers
.pnpm-store/
.npm/
.yarn/

# Data related files
data/